<%- include('./includes/head.ejs', { pageTitle: pageTitle }) %>
    <style>
      label {
        margin-left: 50px !important;
      }
      .input-group {
        margin-top: 2px !important;
      }
      .login-mode {
        min-height: 320px !important;
      }
      .signup-mode {
        min-height: 380px !important;
      }
      .has-message-signup {
        min-height: 455px !important;
      }
      .has-message-login {
        min-height: 380px !important;
      }
    </style>
  </head>

  <body class="login-page sidebar-collapse">
    <nav
      class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg"
      color-on-scroll="100"
      id="sectionsNav"
    >
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="../">
            Project Management
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                rel="tooltip"
                title=""
                data-placement="bottom"
                href="https://www.instagram.com/immobinamiri"
                target="_blank"
                data-original-title="Follow us on Instagram"
              >
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      class="page-header header-filter"
      style="background-image: url('/assets/img/bg7.jpg'); background-size: cover; background-position: top center;"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login ">
              <form 
                class="form <%= mode === 'signup' ? 'signup-mode' : 'login-mode' %> <%= (mode === 'login' ? ((locals.error || locals.message) ? 'has-message-login' : '') : ((locals.error || locals.message) ? 'has-message-signup' : '')) %>"
                method="POST"
                action="<%= mode === 'signup' ? '/signup' : '/login' %>">
                <div class="card-header card-header-rose text-center">
                  <h4 class="card-title"><%= mode === 'signup' ? 'SignUp' : 'Login' %></h4>
                </div>
                <p class="description text-center">Be Classical. <br /> 
                  <% if (locals.error) { %>
                    <div class="alert alert-warning" role="alert">
                      <%= error %>
                    </div>
                  <% } if (locals.message) { %>
                    <div class="alert alert-success" role="alert">
                      <%= message %> 
                    </div>
                  <% } %>
                </p>
                <div class="card-body">
                  <%  if (mode === "signup") { %>
                    <div class="input-group bmd-form-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">person</i>
                        </span>
                        <label class="bmd-label-floating">Name</label>
                      </div>
                      <input name="name" type="text" class="form-control" placeholder="" />
                    </div>
                  <% } %>

                  <div class="input-group bmd-form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">mail</i>
                      </span>
                      <label class="bmd-label-floating">Email</label>
                    </div>
                    <input type="email" name="email" class="form-control" placeholder="" />
                  </div>

                  <div class="input-group bmd-form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">vpn_key</i>
                      </span>
                      <label class="bmd-label-floating">Password</label>
                    </div>
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      placeholder=""
                    />
                  </div>
                </div>
                <div class="footer text-center mb-2">
                  <button type="submit" class="btn btn-success mb-2">
                    <%= mode === 'signup' ? 'Register' : 'Login' %>
                  </button>
                  <a href="<%= mode === 'signup' ? '/login' : '/signup' %>" 
                    class="btn btn-outline-danger mb-2">
                    <%= mode === 'signup' ? 'Login' : 'Register' %></a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <%- include('./includes/src.ejs') %>
